header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

header div img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 1rem;
}

header div.profilePopup {
  position: absolute;
  top: 75px;
  right: 1rem;
  z-index: 1;
  background-color: white;
  border: .5px solid #cdcdcd;
  display: none;
  flex-direction: column;
  border-radius: 8px;
  padding: 3rem 1rem;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header div.profilePopup.active {
  display: flex;
}
header div.profilePopup a {
  text-decoration: none;
  margin: 5px 0;
  color: black;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

main section {
  padding: 1rem;
}

main section h2 {
  margin: 1rem 0 2rem;
}

main section form {
}
main section form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

main section form label {
  margin-bottom: 0.5rem;
}

main section form input {
  margin-bottom: 1rem;
  padding: 10px 5px;
  border-radius: 4px;
  outline: none;
  border: 0.5px solid #dddbdb;
}
main section form input:focus {
  background-color: #ffffeb;
}

main section form input[type='submit'] {
  background-color: #02b173;
  color: #eeeeef;
  border: none;
  border-radius: 2px;
}

footer {
  text-align: center;
  padding: 1rem 0;
}

footer p {
  color: #ababab;
  font-size: 14px;
}

@media (min-width: 600px) {
  main {
    flex-direction: row;
    justify-content: center;
    padding-top: 5rem;
    height: calc(100vh - 160px - 46px);
  }
  main section {
    width: 40vw;
    max-width: 350px;
  }
  main section form fieldset {
    height: 225px;
    position: relative;
  }
  main section form fieldset input[type='submit'] {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
