html {
  scroll-behavior: smooth;
}  
body {
  background-color: #f4f5ff;
  overflow-x: hidden;
}

/******* Header *******/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

header nav ul li {
  margin: 0rem 0rem 0rem 0.5rem ;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  border-radius: 2rem;
  border: 0.5px solid #2F80EC;
  padding: 0.45rem 1rem;

}

header nav ul li:nth-of-type(4) a {
  color: #2F80EC;
  background-color: transparent;
}

header nav ul li:nth-of-type(5) a {
  color: white;
  background-color: #2F80EC;
}
/******* Main *******/

main {
  margin: 0 1rem;
}



main .introduction {
  text-align: center;
}

main .introduction article:first-of-type {
  max-width: 450px;
}

main .introduction article h1 {
  font-size: 1.75rem;
  margin: 3rem 0 1rem;
}

main .introduction article h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

main .introduction article ul {
  list-style-position: inside;
  list-style: none;

}

main .introduction article ul li {
  margin: 0 0 .5rem 0;
  position: relative;
  padding-left: 1.5rem;

}

main .introduction article ul li:before {
  font-family: 'FontAwesome';
  content: '\f058';
  position: absolute;
  left: 0;
  top: 0;
  /* background-color: #0853dd; */
  color: #2F80EC;
  border-radius: 1em;
  border: none;
  /* color: #0853dd */
}

main .introduction article div {
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main .introduction article div a {
  padding: 0.75rem 1.25rem;
  color: white;
  background-color: #2F80EC;
  border-radius: 8px;
  border: 0.25px solid #2F80EC;
  text-decoration: none;
  margin: 0 .25rem 0 0;

}
main .introduction article div a:last-of-type {
  background-color: transparent;
  color: #2F80EC;
  margin: 0 0 0 .25rem;
}

main .introduction article img {
  padding: 2rem;
  max-width: 100%;
}

main .features {
  padding: 5vw 0;
}

main .features h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

main .features article  {
  display: flex;
  flex-direction: column;
}

main .features article aside {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: .5rem 0 0rem;
}

main .features article aside div:first-of-type {
  padding: .5rem;
  margin-right: 1rem;
}

main .features article aside div:first-of-type img {
  width: 48px;
  height: auto;
}

main .features article aside div:last-of-type {
  max-width: 300px;
}

main .pricing h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

main .pricing p {
  font-size: 1rem;
  margin-bottom: 3rem;
}
main .pricing div {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

main .pricing div article {
  width: 100%;
  text-align: center;
  background-color: #2F80EC;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  color: #eeeeef;
  transition: .2s ease;
}

main .pricing div article a {
  text-decoration: none;
  color: #eeeeef;
}

main .pricing div article:hover {
  transform: scale(1.05);
}

main .pricing div article p, 
main .pricing div article h4 {
  margin: 0 0 1rem;
}

/* main .pricing div article h4 {
  marbot
} */

/******* Footer *******/

footer {
  padding: 1.5rem 0;
}

footer p {
  text-align: center;
}

footer p a {
  text-decoration: none;
  color: #2F80EC;
  font-weight: 600;
  transition: 0.2s ease;
}

footer p a:hover {
  cursor: pointer;
  opacity: 0.5;
}

/******* Media querys *******/

@media screen and (max-width: 768px) {
  header nav ul li:nth-of-type(1), 
  header nav ul li:nth-of-type(2), 
  header nav ul li:nth-of-type(3) {
    display: none;
  }

  main section {
    margin: 4rem 0;
  }
}

@media screen and (min-width: 768px) {
  header nav ul li:nth-of-type(1) a, 
  header nav ul li:nth-of-type(2) a, 
  header nav ul li:nth-of-type(3) a {
    border: none;
  }

  main {
    width: 90vw;
    margin: 0 auto;
  }

  main .introduction {
    padding: 10vw 0;
    display: grid;
    grid-template-columns: 1fr 1fr;  
    text-align: left;
  }
  main .introduction article {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  main .introduction article h1, 
  main .introduction article ul {
    margin-bottom: 2rem;
  }
  main .introduction article h2 {
    margin-bottom: 4rem;
  }
  main .introduction article div {
    justify-content: unset;
  }

  main .introduction article:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main .pricing div article {
    width: calc(33% - 2rem);
  }
}

@media screen and (min-width: 1024px) {
  main, header {
    max-width: 1000px;
    margin: 0 auto;
  }
  header {
    padding: 2em 0;
  }
  main .introduction {
    grid-template-columns: 1fr 2fr;  
  }
}