main {
  display: flex;
  flex-direction: column;
}

main section {
  transition: 0.3s ease;
}
main .videoGrid {
  /* background-color: aquamarine; */
  position: relative;
  height: calc(70vh - 32px - 18px);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 0.3s ease;
}

main video {
  width: min(300px, 50vw);
  height: min(300px, 50vh);
  object-fit: cover;
  border-radius: 8px;
}

main .videoGrid aside {
  background-color: #1c1d26;
  color: #eeeeef;
  border-radius: 8px;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
}

main .videoGrid aside ul {
  height: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .videoGrid aside ul li {
  border-radius: 8px;
  list-style-type: none;
  padding: 1rem;
}

main .videoGrid aside ul li:nth-child(3) {
  background-color: rgb(170 0 0);
  padding: 1rem 4rem;
}

main .chatGrid {
  height: 30vh;
  background-color: bisque;
  transition: 0.3s ease;
}

/** States **/
.activeMenuItem {
  background-color: rgb(47 47 57 / 70%);
}

@media screen and (min-width: 800px) {
  main {
    flex-direction: row;
    overflow-x: hidden;
  }
  main .videoGrid {
    width: 100%;
  }
  main .videoGrid.active {
    width: clamp(calc(100% - 250px), calc(100% - 30vw), calc(100% - 400px));
  }
  main .chatGrid {
    width: 0%;
    transform: translateX(40%);
  }
  main .chatGrid.active {
    width: clamp(250px, 30vw, 400px);
    transform: translateX(0);
  }
  main .videoGrid,
  main .chatGrid {
    height: calc(100vh - 32px - 18px);
  }

  main .videoGrid aside {
    bottom: 4rem;
    left: 4rem;
    right: 4rem;
  }
}
