body {
  position: relative;
  background-color: #101720;
  color: #eeeeef;
}

a {
  color: #eeeeef;
}

header {
  position: absolute;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header p {
  font-size: 0.8rem;
}

header p:first-of-type {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

main section {
  transition: 0.2s ease;
}

main .videoGrid {
  position: relative;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 100%;
  transition: 0.2s ease;
  height: 100vh;
}

main .videoGrid.active {
  height: 70vh;
}

main .chatGrid.active {
  transform: translateY(0);
}

main video {
  /* width: clamp(300px, 35%, 600px);
  height: clamp(250px, 40vh, 250px); */
  object-fit: cover;
  margin: 0.5rem;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  height: auto;
}

main .videoGrid aside {
  color: #eeeeef;
  border-radius: 8px;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

main .videoGrid aside ul {
  height: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .videoGrid aside ul li {
  list-style-type: none;
  padding: 1rem;
  margin: 0 0.5rem;
  background-color: #1c1d26;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: grid;
  place-items: center;
}

main .videoGrid aside ul li:nth-child(3) {
  background-color: rgb(170 0 0);
}

main .videoGrid .invitePopUp {
  position: fixed;
  z-index: 1;
  background-color: hotpink;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 150px;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

main .videoGrid .invitePopUp.activePopup {
  display: block;
  display: flex;
}

main .videoGrid .invitePopUp input {
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  border: none;
  border-radius: 4px 4px 0 0;
}

main .videoGrid .invitePopUp button {
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem;
  border: none;
  border-radius: 0 0 4px 4px;
}

main .chatGrid {
  transform: translateY(30vh);
  height: 30vh;
  background-color: #17202c;
  transition: 0.2s ease;
  position: relative;
}

main .chatGrid .chatContainer {
  height: calc(100% - 56px);
  width: 100%;
}

main .chatGrid .chatContainer ul {
  width: 100%;
  height: 100%;
  padding: 1rem;
  list-style-position: inside;
  color: black;
  overflow-y: scroll;
}

main .chatGrid .chatContainer ul li {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  color: white;
  list-style-type: none;
  border-radius: 8px;
}

main .chatGrid .chatContainer ul li:last-of-type {
  margin-bottom: 1rem;
}

main .chatGrid .chatContainer ul li p:nth-of-type(1) {
  padding: 0.75rem;
  width: 100%;
  background-color: #585f67;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

main .chatGrid .chatContainer ul li p:nth-of-type(2),
main .chatGrid .chatContainer ul li p:nth-of-type(3) {
  font-size: 14px;
  font-weight: 300;
  margin-right: 0.5rem;
}

main .chatGrid .chatContainer ul li p:nth-of-type(3):before {
  content: '— ';
}

main .chatGrid .chatContainer ul .ownMessage {
  justify-content: flex-end;
  text-align: right;
}

main .chatGrid .chatContainer ul .ownMessage p:nth-of-type(1) {
  background-color: #348065;
}

/** Chat container **/
main .chatGrid .chatForm {
  position: absolute;
  bottom: 0;
  margin: 0.5rem;
  width: calc(100% - 1rem);
  border: 0.5px solid white;
  border-radius: 4px;
  padding: 0.2rem;
}

main .chatGrid .chatForm form {
  display: flex;
}

main .chatGrid .chatForm form input[type='text'] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  flex: 1;
  background-color: transparent;
  color: white;
  border: none;
}

main .chatGrid .chatForm form button {
  padding: 5px 15px;
  background: transparent;
  color: white;
  border: 0;
  font-size: 17px;
}

/** Scroll bar **/
::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
  margin: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #585f67;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #101720;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c2d2f;
}
/** States **/
.activeMenuItem {
  background-color: rgba(47, 47, 57, 0.7);
}

@media screen and (min-width: 800px) {
  header p:first-of-type {
    display: block;
  }

  main {
    flex-direction: row;
  }

  main .videoGrid {
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
  }

  main .videoGrid.active {
    width: clamp(calc(100% - 300px), calc(100% - 40vw), calc(100% - 600px));
    height: 100vh;
  }

  main .chatGrid {
    width: 0%;
    transform: translateX(40%);
  }

  main .chatGrid.active {
    width: clamp(300px, 40vw, 600px);
    transform: translateX(0);
  }

  main .videoGrid,
  main .chatGrid {
    height: 100vh;
  }

  main .videoGrid aside {
    bottom: 4rem;
  }
}
