<body>
  <header>
    <h1>iCall</h1>

    <nav>
      <ul>
        <li><a href="#features">Features</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#support">Support</a></li>
        <li><a href="/login">Log in</a></li>
        <li><a href="/login">Sign Up</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="intro" class="introduction">
      <article>
        <h1>
          Keeping you connected, wherever you are
        </h1>
        <h2>
          That's what iCall intuitive
        </h2>

        <ul>
          <li>Google Authentication</li>
          <li>Funny Cat Facts</li>
        </ul>

        <div>
          <a href="#">Get started</a>
          <a href="#">How it works?</a>
        </div>
      </article>
      <article>
        <img src="./assets/iPad_mockup1.png" alt="Laptop view of iCall">
      </article>
    </section>

    <section id="features" class="features">
      <h3>Three essential features</h3>
      <article>
        <aside>
          <div>
            <img src="./assets/icons/cat.png" alt="">
          </div>
          <div>
            <h4>Random cat facts</h4>
            <p>Want to keep your conversation funny? Use a Cat Fact! </p>
          </div>
        </aside>
        <aside>
          <div>
            <img src="./assets/icons/vid.png" alt="">
          </div>
          <div>
            <h4>Audio & HD video conversations</h4>
            <p>Enjoy a HD connection between one to one or group video call.. </p>
          </div>
        </aside>
        <aside>
          <div>
            <img src="./assets/icons/msg.png" alt="">
          </div>
          <div>
            <h4>Messaging</h4>
            <p>Type in the chat when muted, fast messaging guaranteed. </p>
          </div>

        </aside>
      </article>
    </section>

    <section id="pricing" class="pricing">
      <h3>Explore current package deals</h3>
      <p>Checkout the best deals available at the moment</p>
      <div>
        <article>
          <p>€4,99/ month</p>
          <h4>Pro+</h4>
          <a href="/">Get plan <span></span></a>
        </article>
        <article>
          <p>€4,59/ month</p>
          <h4>Premium</h4>
          <a href="/">Get plan <span></span></a>
        </article>
        <article>
          <p>€3,99/ month</p>
          <h4>Starter</h4>
          <a href="/">Get plan <span></span></a>
        </article>
      </div>
    </section>

    <section id="support">

    </section>

  </main>

  <footer>
    <p>&copy; <a href="https://github.com/joordy/i-call" target="">Jordy Fronik</a>, 2021</p>
  </footer>
</body>
