<body>
  <main>
    <section>

    </section>
    <section>
      <h1>Sign up</h1>

      <form method="POST" action="/postRegister" id="signupForm">        
        <fieldset>
          <label for="name">Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
          />
        </fieldset>
        <fieldset>
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </fieldset>
        <fieldset>
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
          />
        </fieldset>
        <fieldset>
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
          />
        </fieldset>
        <button type="submit">Login</button>
      </form>

      <hr>

      <h2>Already member?</h2>
      <a href="/login">Sign in</a> 

    </section>
  </main>

  <script>

  </script>
</body>
