<body>
  <header>
    <h1>Hi! Welcome in your room</h1>
  </header>

  <main>
    <section class="videoGrid">
      <aside>
        <ul>
          <li id="muteMyself">Mute</li>
          <li id="stopVideo">Stop video</li>
          <li id="endCall">End call</li>
          <li id="inviteUser">Invite</li>
          <li id="openChat">Chat</li>
        </ul>
      </aside>
      <div class="invitePopUp">
         <input type="text" name="roomID" id="roomID">
         <button id="copyRoomID">Copy invitation link</button>
      </div>
    </section>
    <section class="chatGrid">
    </section>

  </main>
    
  <footer>
    <p>Your room ID is <span id="roomID">{{room}}</span></p>
  </footer>
</body>

<script src="http://localhost:3333{{pageInf.sockets}}"></script>
