<body>
  <header>
    <h1>Hi! Welcome in your room</h1>
  </header>

  <main>
    <section class="videoGrid">
    </section>
  </main>
    
  <footer>
    <p>Your room ID is <span id="roomID">{{room}}</span></p>
  </footer>
</body>

<script src="http://localhost:3333{{pageInf.sockets}}"></script>
