<body>
  <header>
    <h1>iCall</h1>
    <p>Room ID: {{room}}</p>
    <p  id="userName">{{userName}}</p>
  </header>

  <main>
    <section class="videoGrid">
       <aside>
        <ul>
          <li id="muteMyself">Mute</li>
          <li id="stopVideo">Stop video</li>
          <li id="endCall">End call</li>
          <li id="inviteUser">Invite</li>
          <li id="openChat">Chat</li>
        </ul>
      </aside>
      <div class="invitePopUp">
         <input type="text" name="invitationID" id="invitationID">
         <button id="copyRoomID">Copy invitation ID</button>
      </div> 
    </section>
    <section class="chatGrid">
        <article >
          <ul class="chatMessages">

          </ul>
        </article>
        <article class="chatForm">
          <form id="form" action="">
            <input
              id="chatMsg"
              type="text"
              placeholder="Enter text message"
              autocomplete="off"
              required
            />
            <button class="chatBtn">Send</button>
          </form>
        </article>
    </section>

  </main>
    
  {{!-- <footer>
    <p>Your room ID is <span id="roomID">{{room}}</span></p>
  </footer> --}}
  script
  <script defer src="js/{{pageInf.script}}"></script>
</body>

