<body>
  <header>
    <h1>iCall</h1>
    <p id="roomID">{{room}}</p>
    <p id="userName">{{userName}}</p>
  </header>

  <main>
    <section class="videoGrid">
       <aside>
        <ul>
          <li id="muteMyself">
            <svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.201 16.8076C12.8454 16.8076 14.9959 14.657 14.9959 12.0126V4.82014C14.9959 2.16253 12.8562 0 10.2261 0C10.1418 0.000506953 10.0577 0.0105604 9.97561 0.0299685C8.7448 0.0896422 7.58403 0.620174 6.73347 1.51179C5.8829 2.40342 5.40764 3.58789 5.40601 4.82014V12.0126C5.40601 14.657 7.55655 16.8076 10.201 16.8076Z" fill="#EEEEEF"/>
              <path d="M9.00215 21.5198V24H11.3996V21.5198C16.1215 20.9264 19.7908 16.895 19.7908 12.0126H17.3933C17.3933 15.9792 14.1675 19.205 10.2009 19.205C6.23426 19.205 3.00845 15.9792 3.00845 12.0126H0.610962C0.610962 16.8938 4.28031 20.9264 9.00215 21.5198Z" fill="#EEEEEF"/>
            </svg>
          </li>
          <li id="stopVideo">
            <svg width="24" height="15" viewBox="0 0 24 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 3C0 2.20435 0.316071 1.44129 0.87868 0.87868C1.44129 0.31607 2.20435 2.07768e-08 3 2.07768e-08H14.25C14.9776 -8.5572e-05 15.6805 0.264289 16.2277 0.743892C16.7749 1.22349 17.1292 1.88563 17.2245 2.607L21.8895 0.534C22.1178 0.432257 22.368 0.389195 22.6172 0.408728C22.8664 0.428261 23.1068 0.509769 23.3165 0.645844C23.5262 0.781918 23.6986 0.968244 23.8179 1.18789C23.9373 1.40753 23.9999 1.65352 24 1.9035V13.0965C23.9998 13.3463 23.9372 13.5921 23.8179 13.8115C23.6986 14.031 23.5264 14.2172 23.3169 14.3532C23.1074 14.4893 22.8673 14.5708 22.6183 14.5905C22.3693 14.6102 22.1193 14.5674 21.891 14.466L17.2245 12.393C17.1292 13.1144 16.7749 13.7765 16.2277 14.2561C15.6805 14.7357 14.9776 15.0001 14.25 15H3C2.20435 15 1.44129 14.6839 0.87868 14.1213C0.316071 13.5587 0 12.7956 0 12V3Z" fill="#EEEEEF"/>
            </svg>
          </li>
          <li id="endCall">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.9994 17.0609L18.0672 14.9932C18.3439 14.7163 18.6959 14.5268 19.0794 14.448C19.4628 14.3692 19.861 14.4047 20.2245 14.5501L22.7427 15.5581C23.1139 15.7066 23.432 15.9629 23.6561 16.294C23.8802 16.625 24 17.0156 24 17.4154V21.995C24.0006 22.2672 23.9457 22.5366 23.8386 22.7868C23.7315 23.0371 23.5745 23.2628 23.3771 23.4503C23.1797 23.6377 22.9462 23.7829 22.6908 23.8769C22.4353 23.971 22.1634 24.0119 21.8916 23.9972C4.23989 22.8987 0.674833 7.94799 0.0129625 2.22286C-0.0190938 1.94297 0.00846948 1.65946 0.0938397 1.39099C0.17921 1.12251 0.320453 0.875153 0.508277 0.66518C0.696102 0.455207 0.926252 0.287378 1.18359 0.172732C1.44093 0.0580858 1.71962 -0.000779504 2.00134 7.79422e-06H6.49966C6.89943 -5.04259e-06 7.29004 0.119764 7.62109 0.343866C7.95214 0.567968 8.20845 0.886121 8.35696 1.25728L9.36407 3.77553C9.50941 4.13903 9.5449 4.53718 9.46614 4.92065C9.38738 5.30412 9.19783 5.65606 8.92098 5.93284L6.85321 8.00061C6.85321 8.00061 7.99972 16.0612 15.9994 17.0609Z" fill="#EEEEEF"/>
              <path d="M19.7628 5.53792L23.0768 2.22395L21.7752 0.922363L18.4613 4.23633L15.1473 0.922363L13.8457 2.22395L17.1597 5.53792L13.8457 8.85188L15.1473 10.1535L18.4613 6.8395L21.7752 10.1535L23.0768 8.85188L19.7628 5.53792Z" fill="#EEEEEF"/>
            </svg>
          </li>
          <li id="inviteUser">
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.7059 11.7941C12.8527 11.7941 12.9953 11.8054 13.1365 11.8266C12.1294 12.5443 11.3086 13.4925 10.7425 14.592C10.1764 15.6915 9.8815 16.9104 9.88235 18.1471C9.88235 19.3104 10.1379 20.4158 10.5967 21.4054C9.66436 21.5917 8.71546 21.6825 7.76471 21.6765C2.94776 21.6765 0 19.6351 0 16.7353V14.6177C0 13.8688 0.297478 13.1506 0.826993 12.6211C1.35651 12.0916 2.07468 11.7941 2.82353 11.7941H12.7059Z" fill="#EEEEEF"/>
              <path d="M21.1765 6.8529C21.1765 7.78896 20.8047 8.68668 20.1428 9.34857C19.4809 10.0105 18.5831 10.3823 17.6471 10.3823C16.711 10.3823 15.8133 10.0105 15.1514 9.34857C14.4895 8.68668 14.1177 7.78896 14.1177 6.8529C14.1177 5.91684 14.4895 5.01912 15.1514 4.35723C15.8133 3.69533 16.711 3.32349 17.6471 3.32349C18.5831 3.32349 19.4809 3.69533 20.1428 4.35723C20.8047 5.01912 21.1765 5.91684 21.1765 6.8529V6.8529Z" fill="#EEEEEF"/>
              <path d="M7.76466 0.5C8.41355 0.5 9.05608 0.627807 9.65557 0.876125C10.2551 1.12444 10.7998 1.48841 11.2586 1.94724C11.7174 2.40607 12.0814 2.95078 12.3297 3.55027C12.578 4.14976 12.7058 4.79229 12.7058 5.44118C12.7058 6.09006 12.578 6.73259 12.3297 7.33208C12.0814 7.93157 11.7174 8.47629 11.2586 8.93512C10.7998 9.39395 10.2551 9.75791 9.65557 10.0062C9.05608 10.2545 8.41355 10.3824 7.76466 10.3824C6.45418 10.3824 5.19737 9.86177 4.27072 8.93512C3.34407 8.00847 2.82349 6.75166 2.82349 5.44118C2.82349 4.1307 3.34407 2.87389 4.27072 1.94724C5.19737 1.02059 6.45418 0.5 7.76466 0.5V0.5Z" fill="#EEEEEF"/>
              <path d="M24.0001 18.1471C24.0001 19.832 23.3307 21.4479 22.1393 22.6393C20.9479 23.8307 19.332 24.5 17.6471 24.5C15.9622 24.5 14.3463 23.8307 13.1549 22.6393C11.9635 21.4479 11.2942 19.832 11.2942 18.1471C11.2942 16.4622 11.9635 14.8463 13.1549 13.6549C14.3463 12.4635 15.9622 11.7941 17.6471 11.7941C19.332 11.7941 20.9479 12.4635 22.1393 13.6549C23.3307 14.8463 24.0001 16.4622 24.0001 18.1471V18.1471ZM18.353 15.3235C18.353 15.1363 18.2786 14.9568 18.1463 14.8244C18.0139 14.692 17.8343 14.6177 17.6471 14.6177C17.4599 14.6177 17.2804 14.692 17.148 14.8244C17.0156 14.9568 16.9412 15.1363 16.9412 15.3235V17.4412H14.8236C14.6364 17.4412 14.4568 17.5156 14.3245 17.6479C14.1921 17.7803 14.1177 17.9599 14.1177 18.1471C14.1177 18.3343 14.1921 18.5138 14.3245 18.6462C14.4568 18.7786 14.6364 18.853 14.8236 18.853H16.9412V20.9706C16.9412 21.1578 17.0156 21.3374 17.148 21.4697C17.2804 21.6021 17.4599 21.6765 17.6471 21.6765C17.8343 21.6765 18.0139 21.6021 18.1463 21.4697C18.2786 21.3374 18.353 21.1578 18.353 20.9706V18.853H20.4707C20.6579 18.853 20.8374 18.7786 20.9698 18.6462C21.1022 18.5138 21.1765 18.3343 21.1765 18.1471C21.1765 17.9599 21.1022 17.7803 20.9698 17.6479C20.8374 17.5156 20.6579 17.4412 20.4707 17.4412H18.353V15.3235Z" fill="#EEEEEF"/>
            </svg>
          </li>
          <li id="openChat">
            <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24 10.5C24 16.299 18.627 21 12 21C10.8115 21.0016 9.62788 20.8473 8.4795 20.541C7.6035 20.985 5.592 21.837 2.208 22.392C1.908 22.44 1.68 22.128 1.7985 21.849C2.3295 20.595 2.8095 18.924 2.9535 17.4C1.116 15.555 0 13.14 0 10.5C0 4.701 5.373 0 12 0C18.627 0 24 4.701 24 10.5ZM7.5 10.5C7.5 10.1022 7.34196 9.72064 7.06066 9.43934C6.77936 9.15804 6.39782 9 6 9C5.60218 9 5.22064 9.15804 4.93934 9.43934C4.65804 9.72064 4.5 10.1022 4.5 10.5C4.5 10.8978 4.65804 11.2794 4.93934 11.5607C5.22064 11.842 5.60218 12 6 12C6.39782 12 6.77936 11.842 7.06066 11.5607C7.34196 11.2794 7.5 10.8978 7.5 10.5V10.5ZM13.5 10.5C13.5 10.1022 13.342 9.72064 13.0607 9.43934C12.7794 9.15804 12.3978 9 12 9C11.6022 9 11.2206 9.15804 10.9393 9.43934C10.658 9.72064 10.5 10.1022 10.5 10.5C10.5 10.8978 10.658 11.2794 10.9393 11.5607C11.2206 11.842 11.6022 12 12 12C12.3978 12 12.7794 11.842 13.0607 11.5607C13.342 11.2794 13.5 10.8978 13.5 10.5V10.5ZM18 12C18.3978 12 18.7794 11.842 19.0607 11.5607C19.342 11.2794 19.5 10.8978 19.5 10.5C19.5 10.1022 19.342 9.72064 19.0607 9.43934C18.7794 9.15804 18.3978 9 18 9C17.6022 9 17.2206 9.15804 16.9393 9.43934C16.658 9.72064 16.5 10.1022 16.5 10.5C16.5 10.8978 16.658 11.2794 16.9393 11.5607C17.2206 11.842 17.6022 12 18 12V12Z" fill="#EEEEEF"/>
            </svg>
          </li>
        </ul>
      </aside>
      <div class="invitePopUp">
         <input type="text" name="invitationID" id="invitationID">
         <button id="copyRoomID">Copy invitation ID</button>
      </div> 
    </section>
    <section class="chatGrid">
        <article class="chatContainer">
          <ul class="chatMessages">

          </ul>
        </article>
        <article class="chatForm">
          <form id="form" action="">
            <input
              id="chatMsg"
              type="text"
              placeholder="Enter text message"
              autocomplete="off"
              required
            />
            <button class="chatBtn">Send</button>
          </form>
        </article>
    </section>

  </main>
    
  <script type="module" defer src="js/{{pageInf.script}}"></script>
</body>

