<body>
  <header class="roomHeader">
    <h1>iCall</h1>
    <p id="roomID">{{room}}</p>
    <p id="userName">{{userName}}</p>
  </header>

  <main>
    <section class="videoGrid">
      <aside class="videoControls">
        <ul>
          <li id="muteMyself">
            <img src="./assets/icons/mic.png" alt="microphone is on">
          </li>
          <li id="stopVideo">
            <img src="./assets/icons/cam.png" alt="camera is on">          
          </li>
          <li id="endCall">
            <img src="./assets/icons/endCall.png" alt="Leave current call">          
          </li>
          <li id="inviteUser">
            <img src="./assets/icons/invitePeople.png" alt="Invite people">          
          </li>
          <li id="openChat">
            <img src="./assets/icons/chat.png" alt="Open chat">          
          </li>
        </ul>
      </aside>
      <aside class="invitePopUp">
        <div>
          <input type="text" name="invitationID" id="invitationID">
          <button id="copyRoomID">Copy invitation ID</button>
        </div>
      </aside> 
    </section>
    <section class="chatGrid">
        <article class="chatContainer">
          <ul class="chatMessages">

          </ul>
        </article>
        <article class="chatForm">
          <form id="form" action="">
            <input
              id="chatMsg"
              type="text"
              placeholder="Enter text message"
              autocomplete="off"
              required
            />
            <button class="chatBtn">Send</button>
          </form>
        </article>
    </section>

  </main>
    
  <script type="module" defer src="js/{{pageInf.script}}"></script>
</body>

