<body>
  <h1>Hi! Welcome in your room</h1>


  <section class="videoGrid">

  </section>

  <p>Your room ID is <span id="roomID">{{room}}</span></p>
</body>

{{!-- <script src="http://localhost:3333{{pageInf.sockets}}"></script> --}}
